.tabContent
  .van-tabs__content
    padding 15px
.vanImageToRadius
  .van-image__img
    border-radius 10px
.list
  .van-sticky.van-sticky--fixed
    background-color #fff
    border-radius 15px 15px 0 0
  .songLeft
    white-space nowrap
  .songRight
    background-color rgb(239, 73, 60)
    // border-radius 0 15px 0 0
    padding 0 10px
    box-sizing border-box
    color lightgray
    white-space nowrap
    text-align center
.showtime
  .van-grid-item__content
    background #545052
.loading-content
  position fixed
  width 100%
  top 50%
  transform translateY(-50%)
.home-main
  .van-collapse
    .van-cell.van-cell--clickable.van-collapse-item__title
      background-color #eff0f2
      padding 5px 5px 5px 15px
